body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.container {
  width: 1000px;
  margin-left: 500px;
}

form,
input,
textarea,
button {
  font-family: 'Poppins', sans-serif;
}

.form-grup label {
  display: block;
  margin: 2rem 0 0.5rem 0;
}

.form-grup textarea {
  resize: vertical;
}

.form-grup input[type='text'],
.form-grup input[type='email'],
.form-grup textarea {
  width: 50%;
  height: 5px;
  padding: 1rem 0.8rem;
}

.submit {
  padding: 8px 18px;
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  font-weight: bold;
  margin-top: 1rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button {
  background-color: #fff;
  color: #37423b;
  border: 2px solid #3ab0ff;
}

.button:hover {
  background-color: #3ab0ff;
  color: #fff;
}
